@model heshamhrms.Models.Resigns

@{
    ViewBag.Title = "حذف إستقالة";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<h2>حذف إستقالة</h2>

<h3>هل تريد الحذف ؟</h3>
<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Resign_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Resign_date).
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Employees.Employee_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Employees.Employee_name).
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Resign_Reason)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Resign_Reason).
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date_time)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date_time).
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Users.User_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Users.User_name).
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="حذف إستقالة" class="btn btn-danger" /> |
            @Html.ActionLink("رجوع", "Index")
        </div>
    }
</div>
