@model heshamhrms.Models.Leave_permission

@{
    ViewBag.Title = "تفاصيل إذن خروج";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<h2>تفاصيل إذن خروج</h2>

<div>
    
	<hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.Employees.Employee_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Employees.Employee_name).
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.leave_Duration)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.leave_Duration).
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Leave_Reason)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Leave_Reason).
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date_time)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date_time).
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Users.User_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Users.User_name).
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.leave_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
